<suite name="PodiumTests">
    <test thread-count="1" name="DockerDemo">
        <classes>
            <class name="com.podium.web.tests.PodiumLandingPageDockerIT"/>
        </classes>
    </test>
    <test thread-count="1" name="LocalMachineDemo">
        <classes>
            <class name="com.podium.web.tests.PodiumLandingPageIT"/>
        </classes>
    </test>
</suite>